WebUyTube/web/WEB-INF/wsdl/192.168.1.52_1234/publicador.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://servidor/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servidor/">

<xs:element name="ParseException" type="tns:ParseException"></xs:element>

<xs:complexType name="dtComentario">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="texto" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="usuario" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="hijos" type="tns:dtComentario" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtCanal">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="desc" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="privado" type="xs:boolean"></xs:element>
<xs:element name="videos" type="tns:dtVideo" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="listas" type="tns:dtLista" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtVideo">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="descripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="duracion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="url" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="privado" type="xs:boolean"></xs:element>
<xs:element name="categoria" type="tns:categoria" minOccurs="0"></xs:element>
<xs:element name="comentarios" type="tns:dtComentario" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="valoraciones" type="tns:dtValoracion" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoria">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtValoracion">
<xs:sequence>
<xs:element name="meGusta" type="xs:boolean"></xs:element>
<xs:element name="usuario" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="video" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtLista">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="porDefecto" type="xs:boolean"></xs:element>
<xs:element name="privado" type="xs:boolean"></xs:element>
<xs:element name="categoria" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtSesion">
<xs:sequence>
<xs:element name="nick" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="contrasenia" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtUsuario">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="contrasenia" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechaNac" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="seguidores" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="seguidos" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="canal" type="tns:dtCanal" minOccurs="0"></xs:element>
<xs:element name="valoraciones" type="tns:dtValoracion" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="Eliminado" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="canal" type="tns:canal" minOccurs="0"></xs:element>
<xs:element name="contrasenia" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="eliminado" type="xs:boolean"></xs:element>
<xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechaNac" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="canal">
<xs:sequence>
<xs:element name="desc" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="listas" type="tns:lista" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="privado" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lista">
<xs:sequence>
<xs:element name="categoria" type="tns:categoria" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="porDefecto" type="xs:boolean"></xs:element>
<xs:element name="privado" type="xs:boolean"></xs:element>
<xs:element name="usuario_nickname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="videos" type="tns:video" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="video">
<xs:sequence>
<xs:element name="categoria" type="tns:categoria" minOccurs="0"></xs:element>
<xs:element name="comentarios" type="tns:comentario" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="descripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="duracion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="privado" type="xs:boolean"></xs:element>
<xs:element name="url" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="valoraciones" type="tns:valoracion" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comentario">
<xs:sequence>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="texto" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="valoracion">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="meGusta" type="xs:boolean"></xs:element>
<xs:element name="usuario" type="tns:usuario" minOccurs="0"></xs:element>
<xs:element name="video" type="tns:video" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtCategoria">
<xs:sequence>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorOffset" type="xs:int"></xs:element>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtVideoUsuario">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="video" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtListaUsuario">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="lista" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtListaUsuarioArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:dtListaUsuario" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtCategoriaArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:dtCategoria" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtUsuarioArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:dtUsuario" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtVideoUsuarioArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:dtVideoUsuario" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listaArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:lista" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="videoArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:video" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtListaArray" final="#all">
<xs:sequence>
<xs:element name="item" type="tns:dtLista" minOccurs="0" maxOccurs="unbounded" nillable="true"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>