WebUyTube/src/conf/xml-resources/web-service-references/publicador/wsdl/192.168.1.52_1234/publicador.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><xs:schema xmlns:tns="http://servidor/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servidor/">

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="apellido" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="canal" type="tns:canal" minOccurs="0"></xs:element>
<xs:element name="contrasenia" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="eliminado" type="xs:boolean"></xs:element>
<xs:element name="email" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fechaNac" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="imagen" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="canal">
<xs:sequence>
<xs:element name="desc" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="listas" type="tns:lista" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="privado" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="lista">
<xs:sequence>
<xs:element name="categoria" type="tns:categoria" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="porDefecto" type="xs:boolean"></xs:element>
<xs:element name="privado" type="xs:boolean"></xs:element>
<xs:element name="usuario_nickname" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="videos" type="tns:video" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="categoria">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="video">
<xs:sequence>
<xs:element name="categoria" type="tns:categoria" minOccurs="0"></xs:element>
<xs:element name="comentarios" type="tns:comentario" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="descripcion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="duracion" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="nombre" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="privado" type="xs:boolean"></xs:element>
<xs:element name="url" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="valoraciones" type="tns:valoracion" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comentario">
<xs:sequence>
<xs:element name="fecha" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="texto" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="valoracion">
<xs:sequence>
<xs:element name="id" type="xs:long" minOccurs="0"></xs:element>
<xs:element name="meGusta" type="xs:boolean"></xs:element>
<xs:element name="usuario" type="tns:usuario" minOccurs="0"></xs:element>
<xs:element name="video" type="tns:video" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="arrayList">
<xs:complexContent>
<xs:extension base="tns:abstractList">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="abstractList" abstract="true">
<xs:complexContent>
<xs:extension base="tns:abstractCollection">
<xs:sequence></xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="abstractCollection" abstract="true">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="dtListaUsuario">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="dtUsuario">
<xs:sequence>
<xs:element name="eliminado" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="dtCanal">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="dtComentario">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="dtLista">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="dtVideoUsuario">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="dtCategoria">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="dtValoracion">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="dtSesion">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="dtVideo">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>