WebUyTube/src/conf/xml-resources/web-service-references/publicador/wsdl/192.168.1.52_1234/publicador.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servidor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servidor/" name="PublicadorService">
<types>
<xsd:schema>
<xsd:import namespace="http://servidor/" schemaLocation="http://192.168.1.52:1234/publicador?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="altaListaPorDefecto">
<part name="arg0" type="tns:dtLista"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="altaListaPorDefectoResponse"></message>
<message name="listasParticulares">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listasParticularesResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<message name="modificarListaPart">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:boolean"></part>
</message>
<message name="modificarListaPartResponse"></message>
<message name="quitarVideoDeLista">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="quitarVideoDeListaResponse"></message>
<message name="consultaVideosPorCategoria">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="consultaVideosPorCategoriaResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<message name="obtenerUsuarioPorMail">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="obtenerUsuarioPorMailResponse">
<part name="return" type="tns:usuario"></part>
</message>
<message name="agregarVideoAlista">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
</message>
<message name="agregarVideoAlistaResponse"></message>
<message name="getListasPorDefecto"></message>
<message name="getListasPorDefectoResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<message name="nombreCategoriaLibre">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="nombreCategoriaLibreResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="dejarDeSeguirUsuario">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="dejarDeSeguirUsuarioResponse"></message>
<message name="buscarUsuarioPorVideo">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="buscarUsuarioPorVideoResponse">
<part name="return" type="tns:usuario"></part>
</message>
<message name="listarVidesPorUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarVidesPorUsuarioResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<message name="consultaListasPorCategoria">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="consultaListasPorCategoriaResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<message name="listarVideosLista">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="listarVideosListaResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<message name="obtenerUsuarioPorNickname">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="obtenerUsuarioPorNicknameResponse">
<part name="return" type="tns:usuario"></part>
</message>
<message name="seguirUsuario">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="seguirUsuarioResponse"></message>
<message name="comentarVideo">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="tns:dtComentario"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:int"></part>
</message>
<message name="comentarVideoResponse"></message>
<message name="getListas">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getListasResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<message name="bajaUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="bajaUsuarioResponse"></message>
<message name="getAllListas"></message>
<message name="getAllListasResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<message name="getUsuarios"></message>
<message name="getUsuariosResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<message name="listarVideos">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarVideosResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<message name="addUsuario">
<part name="arg0" type="tns:usuario"></part>
</message>
<message name="addUsuarioResponse"></message>
<message name="buscarCategoria">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="buscarCategoriaResponse">
<part name="return" type="tns:categoria"></part>
</message>
<message name="listarNMG">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="listarNMGResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<message name="mailLibre">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="mailLibreResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="nombreListaLibre">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="nombreListaLibreResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="dtCanal"></message>
<message name="dtCanalResponse">
<part name="return" type="tns:dtCanal"></part>
</message>
<message name="dtCategoria"></message>
<message name="dtCategoriaResponse">
<part name="return" type="tns:dtCategoria"></part>
</message>
<message name="dtListaUsuario"></message>
<message name="dtListaUsuarioResponse">
<part name="return" type="tns:dtListaUsuario"></part>
</message>
<message name="dtUsuario"></message>
<message name="dtUsuarioResponse">
<part name="return" type="tns:dtUsuario"></part>
</message>
<message name="dtSesion"></message>
<message name="dtSesionResponse">
<part name="return" type="tns:dtSesion"></part>
</message>
<message name="consultaLista">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="consultaListaResponse">
<part name="return" type="tns:dtLista"></part>
</message>
<message name="addCategoria">
<part name="arg0" type="tns:categoria"></part>
</message>
<message name="addCategoriaResponse"></message>
<message name="listarUsuarios"></message>
<message name="listarUsuariosResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<message name="getUserData">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="getUserDataResponse">
<part name="return" type="tns:dtUsuario"></part>
</message>
<message name="dtVideo"></message>
<message name="dtVideoResponse">
<part name="return" type="tns:dtVideo"></part>
</message>
<message name="buscarLista">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="buscarListaResponse">
<part name="return" type="tns:lista"></part>
</message>
<message name="listarCategorias"></message>
<message name="listarCategoriasResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<message name="getUserSession">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="getUserSessionResponse">
<part name="return" type="tns:dtSesion"></part>
</message>
<message name="nicknameLibre">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="nicknameLibreResponse">
<part name="return" type="xsd:boolean"></part>
</message>
<message name="dtVideoUsuario"></message>
<message name="dtVideoUsuarioResponse">
<part name="return" type="tns:dtVideoUsuario"></part>
</message>
<message name="addLista">
<part name="arg0" type="tns:lista"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="addListaResponse"></message>
<message name="dtComentario"></message>
<message name="dtComentarioResponse">
<part name="return" type="tns:dtComentario"></part>
</message>
<message name="listarListas">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="listarListasResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<message name="buscarUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="buscarUsuarioResponse">
<part name="return" type="tns:usuario"></part>
</message>
<message name="dtValoracion"></message>
<message name="dtValoracionResponse">
<part name="return" type="tns:dtValoracion"></part>
</message>
<message name="consultarVideo">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="consultarVideoResponse">
<part name="return" type="tns:dtVideo"></part>
</message>
<message name="getVideos"></message>
<message name="getVideosResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<message name="getCategorias"></message>
<message name="getCategoriasResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<message name="dtLista"></message>
<message name="dtListaResponse">
<part name="return" type="tns:dtLista"></part>
</message>
<message name="altaCategoria">
<part name="arg0" type="tns:dtCategoria"></part>
</message>
<message name="altaCategoriaResponse"></message>
<message name="valorarVideo">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="tns:dtValoracion"></part>
</message>
<message name="valorarVideoResponse"></message>
<message name="listarMG">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="listarMGResponse">
<part name="return" type="tns:arrayList"></part>
</message>
<message name="consultaUsuario">
<part name="arg0" type="xsd:string"></part>
</message>
<message name="consultaUsuarioResponse">
<part name="return" type="tns:dtUsuario"></part>
</message>
<message name="modificarUsuario">
<part name="arg0" type="xsd:string"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
<part name="arg3" type="xsd:string"></part>
<part name="arg4" type="xsd:dateTime"></part>
<part name="arg5" type="xsd:string"></part>
<part name="arg6" type="xsd:string"></part>
<part name="arg7" type="xsd:string"></part>
<part name="arg8" type="xsd:boolean"></part>
</message>
<message name="modificarUsuarioResponse"></message>
<message name="altaLista">
<part name="arg0" type="tns:dtLista"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="altaListaResponse"></message>
<message name="altaUsuario">
<part name="arg0" type="tns:dtUsuario"></part>
<part name="arg1" type="tns:dtCanal"></part>
</message>
<message name="altaUsuarioResponse"></message>
<message name="altaVideo">
<part name="arg0" type="tns:dtVideo"></part>
<part name="arg1" type="xsd:string"></part>
</message>
<message name="altaVideoResponse"></message>
<message name="modificarVideo">
<part name="arg0" type="tns:dtVideo"></part>
<part name="arg1" type="xsd:string"></part>
<part name="arg2" type="xsd:string"></part>
</message>
<message name="modificarVideoResponse"></message>
<portType name="Publicador">
<operation name="altaListaPorDefecto" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/altaListaPorDefectoRequest" message="tns:altaListaPorDefecto"></input>
<output wsam:Action="http://servidor/Publicador/altaListaPorDefectoResponse" message="tns:altaListaPorDefectoResponse"></output>
</operation>
<operation name="listasParticulares">
<input wsam:Action="http://servidor/Publicador/listasParticularesRequest" message="tns:listasParticulares"></input>
<output wsam:Action="http://servidor/Publicador/listasParticularesResponse" message="tns:listasParticularesResponse"></output>
</operation>
<operation name="modificarListaPart" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://servidor/Publicador/modificarListaPartRequest" message="tns:modificarListaPart"></input>
<output wsam:Action="http://servidor/Publicador/modificarListaPartResponse" message="tns:modificarListaPartResponse"></output>
</operation>
<operation name="quitarVideoDeLista" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://servidor/Publicador/quitarVideoDeListaRequest" message="tns:quitarVideoDeLista"></input>
<output wsam:Action="http://servidor/Publicador/quitarVideoDeListaResponse" message="tns:quitarVideoDeListaResponse"></output>
</operation>
<operation name="consultaVideosPorCategoria">
<input wsam:Action="http://servidor/Publicador/consultaVideosPorCategoriaRequest" message="tns:consultaVideosPorCategoria"></input>
<output wsam:Action="http://servidor/Publicador/consultaVideosPorCategoriaResponse" message="tns:consultaVideosPorCategoriaResponse"></output>
</operation>
<operation name="obtenerUsuarioPorMail">
<input wsam:Action="http://servidor/Publicador/obtenerUsuarioPorMailRequest" message="tns:obtenerUsuarioPorMail"></input>
<output wsam:Action="http://servidor/Publicador/obtenerUsuarioPorMailResponse" message="tns:obtenerUsuarioPorMailResponse"></output>
</operation>
<operation name="agregarVideoAlista" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://servidor/Publicador/agregarVideoAlistaRequest" message="tns:agregarVideoAlista"></input>
<output wsam:Action="http://servidor/Publicador/agregarVideoAlistaResponse" message="tns:agregarVideoAlistaResponse"></output>
</operation>
<operation name="getListasPorDefecto">
<input wsam:Action="http://servidor/Publicador/getListasPorDefectoRequest" message="tns:getListasPorDefecto"></input>
<output wsam:Action="http://servidor/Publicador/getListasPorDefectoResponse" message="tns:getListasPorDefectoResponse"></output>
</operation>
<operation name="nombreCategoriaLibre">
<input wsam:Action="http://servidor/Publicador/nombreCategoriaLibreRequest" message="tns:nombreCategoriaLibre"></input>
<output wsam:Action="http://servidor/Publicador/nombreCategoriaLibreResponse" message="tns:nombreCategoriaLibreResponse"></output>
</operation>
<operation name="dejarDeSeguirUsuario" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/dejarDeSeguirUsuarioRequest" message="tns:dejarDeSeguirUsuario"></input>
<output wsam:Action="http://servidor/Publicador/dejarDeSeguirUsuarioResponse" message="tns:dejarDeSeguirUsuarioResponse"></output>
</operation>
<operation name="buscarUsuarioPorVideo">
<input wsam:Action="http://servidor/Publicador/buscarUsuarioPorVideoRequest" message="tns:buscarUsuarioPorVideo"></input>
<output wsam:Action="http://servidor/Publicador/buscarUsuarioPorVideoResponse" message="tns:buscarUsuarioPorVideoResponse"></output>
</operation>
<operation name="listarVidesPorUsuario">
<input wsam:Action="http://servidor/Publicador/listarVidesPorUsuarioRequest" message="tns:listarVidesPorUsuario"></input>
<output wsam:Action="http://servidor/Publicador/listarVidesPorUsuarioResponse" message="tns:listarVidesPorUsuarioResponse"></output>
</operation>
<operation name="consultaListasPorCategoria">
<input wsam:Action="http://servidor/Publicador/consultaListasPorCategoriaRequest" message="tns:consultaListasPorCategoria"></input>
<output wsam:Action="http://servidor/Publicador/consultaListasPorCategoriaResponse" message="tns:consultaListasPorCategoriaResponse"></output>
</operation>
<operation name="listarVideosLista" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/listarVideosListaRequest" message="tns:listarVideosLista"></input>
<output wsam:Action="http://servidor/Publicador/listarVideosListaResponse" message="tns:listarVideosListaResponse"></output>
</operation>
<operation name="obtenerUsuarioPorNickname">
<input wsam:Action="http://servidor/Publicador/obtenerUsuarioPorNicknameRequest" message="tns:obtenerUsuarioPorNickname"></input>
<output wsam:Action="http://servidor/Publicador/obtenerUsuarioPorNicknameResponse" message="tns:obtenerUsuarioPorNicknameResponse"></output>
</operation>
<operation name="seguirUsuario" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/seguirUsuarioRequest" message="tns:seguirUsuario"></input>
<output wsam:Action="http://servidor/Publicador/seguirUsuarioResponse" message="tns:seguirUsuarioResponse"></output>
</operation>
<operation name="comentarVideo" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://servidor/Publicador/comentarVideoRequest" message="tns:comentarVideo"></input>
<output wsam:Action="http://servidor/Publicador/comentarVideoResponse" message="tns:comentarVideoResponse"></output>
</operation>
<operation name="getListas">
<input wsam:Action="http://servidor/Publicador/getListasRequest" message="tns:getListas"></input>
<output wsam:Action="http://servidor/Publicador/getListasResponse" message="tns:getListasResponse"></output>
</operation>
<operation name="bajaUsuario">
<input wsam:Action="http://servidor/Publicador/bajaUsuarioRequest" message="tns:bajaUsuario"></input>
<output wsam:Action="http://servidor/Publicador/bajaUsuarioResponse" message="tns:bajaUsuarioResponse"></output>
</operation>
<operation name="getAllListas">
<input wsam:Action="http://servidor/Publicador/getAllListasRequest" message="tns:getAllListas"></input>
<output wsam:Action="http://servidor/Publicador/getAllListasResponse" message="tns:getAllListasResponse"></output>
</operation>
<operation name="getUsuarios">
<input wsam:Action="http://servidor/Publicador/getUsuariosRequest" message="tns:getUsuarios"></input>
<output wsam:Action="http://servidor/Publicador/getUsuariosResponse" message="tns:getUsuariosResponse"></output>
</operation>
<operation name="listarVideos">
<input wsam:Action="http://servidor/Publicador/listarVideosRequest" message="tns:listarVideos"></input>
<output wsam:Action="http://servidor/Publicador/listarVideosResponse" message="tns:listarVideosResponse"></output>
</operation>
<operation name="addUsuario">
<input wsam:Action="http://servidor/Publicador/addUsuarioRequest" message="tns:addUsuario"></input>
<output wsam:Action="http://servidor/Publicador/addUsuarioResponse" message="tns:addUsuarioResponse"></output>
</operation>
<operation name="buscarCategoria">
<input wsam:Action="http://servidor/Publicador/buscarCategoriaRequest" message="tns:buscarCategoria"></input>
<output wsam:Action="http://servidor/Publicador/buscarCategoriaResponse" message="tns:buscarCategoriaResponse"></output>
</operation>
<operation name="listarNMG" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/listarNMGRequest" message="tns:listarNMG"></input>
<output wsam:Action="http://servidor/Publicador/listarNMGResponse" message="tns:listarNMGResponse"></output>
</operation>
<operation name="mailLibre">
<input wsam:Action="http://servidor/Publicador/mailLibreRequest" message="tns:mailLibre"></input>
<output wsam:Action="http://servidor/Publicador/mailLibreResponse" message="tns:mailLibreResponse"></output>
</operation>
<operation name="nombreListaLibre">
<input wsam:Action="http://servidor/Publicador/nombreListaLibreRequest" message="tns:nombreListaLibre"></input>
<output wsam:Action="http://servidor/Publicador/nombreListaLibreResponse" message="tns:nombreListaLibreResponse"></output>
</operation>
<operation name="dtCanal">
<input wsam:Action="http://servidor/Publicador/dtCanalRequest" message="tns:dtCanal"></input>
<output wsam:Action="http://servidor/Publicador/dtCanalResponse" message="tns:dtCanalResponse"></output>
</operation>
<operation name="dtCategoria">
<input wsam:Action="http://servidor/Publicador/dtCategoriaRequest" message="tns:dtCategoria"></input>
<output wsam:Action="http://servidor/Publicador/dtCategoriaResponse" message="tns:dtCategoriaResponse"></output>
</operation>
<operation name="dtListaUsuario">
<input wsam:Action="http://servidor/Publicador/dtListaUsuarioRequest" message="tns:dtListaUsuario"></input>
<output wsam:Action="http://servidor/Publicador/dtListaUsuarioResponse" message="tns:dtListaUsuarioResponse"></output>
</operation>
<operation name="dtUsuario">
<input wsam:Action="http://servidor/Publicador/dtUsuarioRequest" message="tns:dtUsuario"></input>
<output wsam:Action="http://servidor/Publicador/dtUsuarioResponse" message="tns:dtUsuarioResponse"></output>
</operation>
<operation name="dtSesion">
<input wsam:Action="http://servidor/Publicador/dtSesionRequest" message="tns:dtSesion"></input>
<output wsam:Action="http://servidor/Publicador/dtSesionResponse" message="tns:dtSesionResponse"></output>
</operation>
<operation name="consultaLista" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/consultaListaRequest" message="tns:consultaLista"></input>
<output wsam:Action="http://servidor/Publicador/consultaListaResponse" message="tns:consultaListaResponse"></output>
</operation>
<operation name="addCategoria">
<input wsam:Action="http://servidor/Publicador/addCategoriaRequest" message="tns:addCategoria"></input>
<output wsam:Action="http://servidor/Publicador/addCategoriaResponse" message="tns:addCategoriaResponse"></output>
</operation>
<operation name="listarUsuarios">
<input wsam:Action="http://servidor/Publicador/listarUsuariosRequest" message="tns:listarUsuarios"></input>
<output wsam:Action="http://servidor/Publicador/listarUsuariosResponse" message="tns:listarUsuariosResponse"></output>
</operation>
<operation name="getUserData">
<input wsam:Action="http://servidor/Publicador/getUserDataRequest" message="tns:getUserData"></input>
<output wsam:Action="http://servidor/Publicador/getUserDataResponse" message="tns:getUserDataResponse"></output>
</operation>
<operation name="dtVideo">
<input wsam:Action="http://servidor/Publicador/dtVideoRequest" message="tns:dtVideo"></input>
<output wsam:Action="http://servidor/Publicador/dtVideoResponse" message="tns:dtVideoResponse"></output>
</operation>
<operation name="buscarLista" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/buscarListaRequest" message="tns:buscarLista"></input>
<output wsam:Action="http://servidor/Publicador/buscarListaResponse" message="tns:buscarListaResponse"></output>
</operation>
<operation name="listarCategorias">
<input wsam:Action="http://servidor/Publicador/listarCategoriasRequest" message="tns:listarCategorias"></input>
<output wsam:Action="http://servidor/Publicador/listarCategoriasResponse" message="tns:listarCategoriasResponse"></output>
</operation>
<operation name="getUserSession" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/getUserSessionRequest" message="tns:getUserSession"></input>
<output wsam:Action="http://servidor/Publicador/getUserSessionResponse" message="tns:getUserSessionResponse"></output>
</operation>
<operation name="nicknameLibre">
<input wsam:Action="http://servidor/Publicador/nicknameLibreRequest" message="tns:nicknameLibre"></input>
<output wsam:Action="http://servidor/Publicador/nicknameLibreResponse" message="tns:nicknameLibreResponse"></output>
</operation>
<operation name="dtVideoUsuario">
<input wsam:Action="http://servidor/Publicador/dtVideoUsuarioRequest" message="tns:dtVideoUsuario"></input>
<output wsam:Action="http://servidor/Publicador/dtVideoUsuarioResponse" message="tns:dtVideoUsuarioResponse"></output>
</operation>
<operation name="addLista" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/addListaRequest" message="tns:addLista"></input>
<output wsam:Action="http://servidor/Publicador/addListaResponse" message="tns:addListaResponse"></output>
</operation>
<operation name="dtComentario">
<input wsam:Action="http://servidor/Publicador/dtComentarioRequest" message="tns:dtComentario"></input>
<output wsam:Action="http://servidor/Publicador/dtComentarioResponse" message="tns:dtComentarioResponse"></output>
</operation>
<operation name="listarListas">
<input wsam:Action="http://servidor/Publicador/listarListasRequest" message="tns:listarListas"></input>
<output wsam:Action="http://servidor/Publicador/listarListasResponse" message="tns:listarListasResponse"></output>
</operation>
<operation name="buscarUsuario">
<input wsam:Action="http://servidor/Publicador/buscarUsuarioRequest" message="tns:buscarUsuario"></input>
<output wsam:Action="http://servidor/Publicador/buscarUsuarioResponse" message="tns:buscarUsuarioResponse"></output>
</operation>
<operation name="dtValoracion">
<input wsam:Action="http://servidor/Publicador/dtValoracionRequest" message="tns:dtValoracion"></input>
<output wsam:Action="http://servidor/Publicador/dtValoracionResponse" message="tns:dtValoracionResponse"></output>
</operation>
<operation name="consultarVideo" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/consultarVideoRequest" message="tns:consultarVideo"></input>
<output wsam:Action="http://servidor/Publicador/consultarVideoResponse" message="tns:consultarVideoResponse"></output>
</operation>
<operation name="getVideos">
<input wsam:Action="http://servidor/Publicador/getVideosRequest" message="tns:getVideos"></input>
<output wsam:Action="http://servidor/Publicador/getVideosResponse" message="tns:getVideosResponse"></output>
</operation>
<operation name="getCategorias">
<input wsam:Action="http://servidor/Publicador/getCategoriasRequest" message="tns:getCategorias"></input>
<output wsam:Action="http://servidor/Publicador/getCategoriasResponse" message="tns:getCategoriasResponse"></output>
</operation>
<operation name="dtLista">
<input wsam:Action="http://servidor/Publicador/dtListaRequest" message="tns:dtLista"></input>
<output wsam:Action="http://servidor/Publicador/dtListaResponse" message="tns:dtListaResponse"></output>
</operation>
<operation name="altaCategoria">
<input wsam:Action="http://servidor/Publicador/altaCategoriaRequest" message="tns:altaCategoria"></input>
<output wsam:Action="http://servidor/Publicador/altaCategoriaResponse" message="tns:altaCategoriaResponse"></output>
</operation>
<operation name="valorarVideo" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://servidor/Publicador/valorarVideoRequest" message="tns:valorarVideo"></input>
<output wsam:Action="http://servidor/Publicador/valorarVideoResponse" message="tns:valorarVideoResponse"></output>
</operation>
<operation name="listarMG" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/listarMGRequest" message="tns:listarMG"></input>
<output wsam:Action="http://servidor/Publicador/listarMGResponse" message="tns:listarMGResponse"></output>
</operation>
<operation name="consultaUsuario">
<input wsam:Action="http://servidor/Publicador/consultaUsuarioRequest" message="tns:consultaUsuario"></input>
<output wsam:Action="http://servidor/Publicador/consultaUsuarioResponse" message="tns:consultaUsuarioResponse"></output>
</operation>
<operation name="modificarUsuario" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7 arg8">
<input wsam:Action="http://servidor/Publicador/modificarUsuarioRequest" message="tns:modificarUsuario"></input>
<output wsam:Action="http://servidor/Publicador/modificarUsuarioResponse" message="tns:modificarUsuarioResponse"></output>
</operation>
<operation name="altaLista" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/altaListaRequest" message="tns:altaLista"></input>
<output wsam:Action="http://servidor/Publicador/altaListaResponse" message="tns:altaListaResponse"></output>
</operation>
<operation name="altaUsuario" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/altaUsuarioRequest" message="tns:altaUsuario"></input>
<output wsam:Action="http://servidor/Publicador/altaUsuarioResponse" message="tns:altaUsuarioResponse"></output>
</operation>
<operation name="altaVideo" parameterOrder="arg0 arg1">
<input wsam:Action="http://servidor/Publicador/altaVideoRequest" message="tns:altaVideo"></input>
<output wsam:Action="http://servidor/Publicador/altaVideoResponse" message="tns:altaVideoResponse"></output>
</operation>
<operation name="modificarVideo" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://servidor/Publicador/modificarVideoRequest" message="tns:modificarVideo"></input>
<output wsam:Action="http://servidor/Publicador/modificarVideoResponse" message="tns:modificarVideoResponse"></output>
</operation>
</portType>
<binding name="PublicadorPortBinding" type="tns:Publicador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"></soap:binding>
<operation name="altaListaPorDefecto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="listasParticulares">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="modificarListaPart">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="quitarVideoDeLista">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="consultaVideosPorCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="obtenerUsuarioPorMail">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="agregarVideoAlista">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="getListasPorDefecto">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="nombreCategoriaLibre">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="dejarDeSeguirUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="buscarUsuarioPorVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="listarVidesPorUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="consultaListasPorCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="listarVideosLista">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="obtenerUsuarioPorNickname">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="seguirUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="comentarVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="getListas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="bajaUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="getAllListas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="getUsuarios">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="listarVideos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="addUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="buscarCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="listarNMG">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="mailLibre">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="nombreListaLibre">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="dtCanal">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="dtCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="dtListaUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="dtUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="dtSesion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="consultaLista">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="addCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="listarUsuarios">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="getUserData">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="dtVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="buscarLista">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="listarCategorias">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="getUserSession">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="nicknameLibre">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="dtVideoUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="addLista">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="dtComentario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="listarListas">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="buscarUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="dtValoracion">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="consultarVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="getVideos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="getCategorias">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="dtLista">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="altaCategoria">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="valorarVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="listarMG">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="consultaUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="modificarUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="altaLista">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="altaUsuario">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="altaVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
<operation name="modificarVideo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</input>
<output>
<soap:body use="literal" namespace="http://servidor/"></soap:body>
</output>
</operation>
</binding>
<service name="PublicadorService">
<port name="PublicadorPort" binding="tns:PublicadorPortBinding">
<soap:address location="http://192.168.1.52:1234/publicador"></soap:address>
</port>
</service>
</definitions>